@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    font-family: 'Inter', sans-serif; /* Set Inter as the default font */
    color-scheme: light;
}

body {
    overflow-x: hidden;
    background-color: #FBFBFD;
}

@layer components {
    .custom-scrollbar {
        &::-webkit-scrollbar {
            width: 10px; 
            height: 10px; 
        }

        &::-webkit-scrollbar-thumb {
            background-color: #fbbf24; 
            border-radius: 5px; 
            transition: background-color 0.3s; 
        }

        &::-webkit-scrollbar-thumb:hover {
            background-color: #fcd34d;
        }

        &::-webkit-scrollbar-track {
            background: rgba(0, 0, 0, 0.1); 
            border-radius: 5px; 
        }
    }
}